[project]
name = "torchdr"
description = "Torch Dimensionality Reduction Library"
authors = [
    {name = "Hugues Van Assel", email = "vanasselhugues@gmail.com"},
    {name = " TorchDR contributors"}
]
license = {text = "BSD (3-Clause)"}
readme = {file = "README.rst", content-type = "text/x-rst"}
dependencies = [
    "numpy",
    "scikit-learn",
    "torch",
    "tqdm",
    "pykeops"
]
dynamic = ["version"]

[tool.setuptools]
packages = ["torchdr"]

[tool.setuptools.dynamic]
version = {attr = "torchdr.__about__.__version__"}

[project.optional-dependencies]
test = [
    "pytest",
    "flake8",
    "coverage",
    "numpydoc",
    "pytest-cov",
    "codecov"
]

doc = [
    "sphinx",
    "sphinx_gallery",
    "sphinx_rtd_theme",
    "matplotlib",
    "numpydoc",
    "memory_profiler",
    "myst-parser",
]